* {
  font-family: futura-pt, "Noto Sans JP", sans-serif;
}

/*
  html5doctor.com Reset Stylesheet
  v1.6.1
  Last Updated: 2010-09-17
  Author: Richard Clark - http://richclarkdesign.com
  Twitter: @rich_clark
  */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a:link {
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* our custom styles */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:link, a:visited {
  color: #000;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  padding: 60px 20px 20px;
}

@media only screen and (min-width: 769px) {
  .header__inner {
    padding: 50px 20px 20px;
  }
}

.header__nav {
  font-size: 14px;
}

@media (max-width: 396px) {
  .header__nav {
    font-size: 12px;
  }
}

@media only screen and (max-width: 320px) {
  .header__nav {
    font-size: 11px;
  }
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-item:not(:last-child):after {
  content: "/";
  font-size: 14px;
  color: #d8d8d8;
  padding: 0 5px;
}

@media only screen and (max-width: 320px) {
  .header__nav-item:not(:last-child):after {
    font-size: 12px;
    padding: 0 4px;
  }
}

.header__nav-item a {
  color: #000;
}

.header__menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 80px 50px 50px;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  z-index: 1000;
}

.header__menu.hasLoaded {
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.header__menu.active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.header__menu-box {
  padding-bottom: 50px;
}

.header__menu-home {
  position: relative;
  display: inline-block;
}

.header__menu-home span {
  height: 30px;
  width: 30px;
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
}

.header__menu-home:before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../img/icon_home.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header__menu-trigger {
  width: 50px;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1001;
}

@media only screen and (min-width: 769px) {
  .header__menu-trigger {
    top: 30px;
  }
}

.header__menu-trigger span {
  display: block;
  height: 4px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  -webkit-transition: color .5s ease, -webkit-transform .5s ease;
  transition: color .5s ease, -webkit-transform .5s ease;
  transition: transform .5s ease, color .5s ease;
  transition: transform .5s ease, color .5s ease, -webkit-transform .5s ease;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -webkit-transform-origin: center;
  transform-origin: center;
}

.header__menu-trigger span:nth-of-type(2) {
  top: 10px;
}

.header__menu-trigger span:nth-of-type(3) {
  bottom: 0;
  top: auto;
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

.header__menu-trigger.active span {
  background: #d8d8d8;
  -webkit-transform: rotate(-25deg);
  transform: rotate(-25deg);
  top: 50%;
}

.header__menu-trigger.active span:nth-of-type(2) {
  visibility: hidden;
}

.header__menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
}

.header__menu-trigger--close {
  position: relative;
  left: inherit;
  top: inherit;
  display: inline-block;
}

.header__menu-trigger--close span {
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(15deg);
  transform: translate3d(-50%, -50%, 0) rotate(15deg);
}

.header__menu-trigger--close span:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(-15deg);
  transform: translate3d(-50%, -50%, 0) rotate(-15deg);
}

.header__menu-title {
  font-size: 36px;
  padding-bottom: 20px;
}

.header__menu-titlelink {
  color: #000;
}

.header__menu-list {
  font-size: 24px;
}

.header__menu-item {
  padding-top: 20px;
}

.header__menu-link {
  color: #000;
  padding-left: 5px;
}

.header__menu-footer {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
  height: 27px;
  text-align: center;
}

.header__bc-item a {
  color: rgba(0, 0, 0, .3);
}

.header__bc-item:not(:last-child):after {
  content: "<";
}

.footer {
  padding: 100px 20px 300px;
  position: relative;
}

@media only screen and (min-width: 769px) {
  .footer {
    padding: 100px 20px 200px;
  }
}

.footer:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  height: 1px;
  margin: 0 auto;
  background-color: #d8d8d8;
  width: 75.84541%;
}

@media only screen and (min-width: 769px) {
  .footer:before {
    width: 680px;
  }
}

.footer__copyrights {
  text-align: center;
  font-size: 13px;
  font-style: italic;
  font-weight: 500;
}

.morelink {
  font-size: 26px;
  font-style: italic;
  color: #000;
  display: inline-block;
}

@media only screen and (min-width: 769px) {
  .morelink {
    font-size: 24px;
  }
}

.morelink:after {
  content: "";
  display: block;
  margin-top: 15px;
  width: 100%;
  height: 7px;
  background-image: url(../img/icon_morelink-arrow.svg);
  background-size: contain;
  background-position: center right;
  background-repeat: no-repeat;
  -webkit-animation: morelinkAnimation 2s linear 0s infinite normal;
  animation: morelinkAnimation 2s linear 0s infinite normal;
}

@media only screen and (min-width: 769px) {
  .morelink:after {
    height: 11px;
    background-position: center;
  }
}

@-webkit-keyframes morelinkAnimation {
  0% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
}

@keyframes morelinkAnimation {
  0% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
}

.section__mv-figure {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.section__detail {
  max-width: 680px;
  margin: 0 auto;
  padding: 50px 30px 100px;
}

@media only screen and (min-width: 769px) {
  .section__detail {
    padding: 50px 0 100px;
  }
}

.section__detail + .section__detail {
  padding-top: 0;
}

.section__detail-title {
  font-size: 24px;
  line-height: 1.38;
  max-width: 426px;
  margin: 0 auto;
}

@media only screen and (min-width: 769px) {
  .section__detail-title {
    font-size: 26px;
  }
}

.section__detail-title + .section__detail-text {
  margin-top: 40px;
}

.section__detail-text {
  line-height: 1.65;
  max-width: 426px;
  margin: 0 auto;
}

@media only screen and (min-width: 769px) {
  .section__detail-text {
    font-size: 14px;
    line-height: 1.7;
  }
}

.section__detail-text + .section__detail-text {
  margin-top: 50px;
}

.section__detail-list {
  max-width: 426px;
  margin: 50px auto 0;
}

.section__detail-date {
  font-size: 13px;
  color: rgba(0, 0, 0, .6);
  padding-top: 15px;
  display: block;
}

@media only screen and (min-width: 769px) {
  .section__detail-date {
    font-size: 14px;
  }
}

.section__detail-footer {
  text-align: right;
}

.sns-list__item {
  padding-bottom: 20px;
}

.sns-list__item:last-child {
  padding-bottom: 0;
}

.sns-list__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sns-list__item a:visited {
  color: #000;
}

.sns-list__item span {
  width: 30px;
  height: 30px;
  display: block;
  font-size: 26px;
  text-align: center;
  vertical-align: middle;
  margin-right: 10px;
}

.sns-list__item span.sns-icon--ig {
  font-size: 28px;
}

.sns-list__item span.sns-icon--note .fa {
  width: 21px;
  display: block;
  margin: 0 auto;
}

.sns-list__item span.sns-icon--note .fa img {
  width: 100%;
}

.js-hoverd-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px);
  filter: blur(20px);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0;
}

.js-hoverd-bg.hoverd {
  opacity: .8;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.category-tab {
  width: 100%;
  margin: 180px auto 35px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.category-tab::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 769px) {
  .category-tab {
    max-width: 1440px;
  }
}

.category-tab__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (min-width: 769px) {
  .category-tab__list {
    max-width: 1440px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.category-tab__item {
  padding: 0 20px;
}

@media only screen and (min-width: 769px) {
  .category-tab__item {
    padding: 0 40px;
  }
}

.category-tab__link.current {
  color: #f4b1c2;
}

.back-top {
  position: fixed;
  bottom: 40px;
  right: 20px;
  text-align: center;
  font-style: italic;
  color: #000;
  font-size: 26px;
  z-index: 1000;
}

.back-top:before {
  content: "";
  display: block;
  height: 40px;
  width: 11px;
  background-image: url(../img/icon_backtop-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto 10px;
}

.main {
  padding: 0 20px;
}

.top .article {
  position: relative;
}

.top .section__mv {
  position: relative;
  padding-top: 28.57143%;
}

@media only screen and (min-width: 769px) {
  .top .section__mv {
    padding-top: 19.53125%;
  }
}

.top .section__mv-figure {
  padding-top: 149.73262%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
}

@media only screen and (min-width: 769px) {
  .top .section__mv-figure {
    padding-top: 100%;
  }
}

.top .section__mv .badge {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translate3d(10px, 40%, 0);
  transform: translate3d(10px, 40%, 0);
  width: 19.04762%;
  padding-top: 19.04762%;
}

@media only screen and (min-width: 769px) {
  .top .section__mv .badge {
    right: 15.85366%;
    width: 12.69531%;
    padding-top: 12.69531%;
    -webkit-transform: translate3d(50%, 40%, 0);
    transform: translate3d(50%, 40%, 0);
  }
}

.top .section__mv .badge:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(../img/icon_badge.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation: spin 20s linear infinite;
  animation: spin 20s linear infinite;
}

.top .section__mv .badge__img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  width: 56.92308%;
}

.top .section__title {
  font-size: 64px;
  font-style: italic;
  line-height: .98;
  color: #f4b1c2;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 1.5%;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  width: 76.19048%;
  z-index: 1;
}

@media only screen and (min-width: 769px) {
  .top .section__title {
    top: 2.6178%;
    font-size: 96px;
    width: 46.875%;
  }
}

.top .section__title span {
  font-size: 36px;
}

@media only screen and (min-width: 769px) {
  .top .section__title span {
    font-size: 46px;
  }
}

@media only screen and (max-width: 320px) {
  .top .section__title span {
    font-size: 32px;
  }
}

.top .section__title img {
  width: 100%;
}

.top .section__detail {
  max-width: 680px;
  margin: 0 auto;
  padding: 50px 0 100px;
}

.top .section__detail-title {
  font-size: 24px;
  line-height: 1.38;
  max-width: 426px;
  margin: 0 auto;
}

@media only screen and (min-width: 769px) {
  .top .section__detail-title {
    font-size: 26px;
  }
}

.top .section__detail-date {
  font-size: 13px;
  color: rgba(0, 0, 0, .6);
  padding-top: 15px;
  display: block;
}

@media only screen and (min-width: 769px) {
  .top .section__detail-date {
    font-size: 14px;
  }
}

.top .section__detail-footer {
  text-align: right;
}

main.works {
  padding: 0 10px;
}

@media only screen and (min-width: 769px) {
  main.works {
    padding: 0 20px;
  }
}

.works .article {
  padding-top: 20px;
  position: relative;
}

@media only screen and (min-width: 769px) {
  .works .article {
    padding-top: 30px;
  }
}

.works .section__title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

@media only screen and (min-width: 769px) {
  .works .section__title {
    font-size: 46px;
  }
}

.works .section__title span {
  font-size: 24px;
}

@media only screen and (min-width: 769px) {
  .works .section__title span {
    font-size: 26px;
  }
}

.works .section__cat {
  display: block;
  font-size: 24px;
  font-weight: 500;
  padding-top: 15px;
}

@media only screen and (min-width: 769px) {
  .works .section__cat {
    font-size: 26px;
  }
}

.works .section__content {
  padding: 55px 0 100px;
  max-width: 1440px;
  margin: 0 auto;
}

@media only screen and (min-width: 769px) {
  .works .section__content {
    max-width: 1000px;
  }
}

.works-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 0;
}

@media only screen and (min-width: 769px) {
  .works-list {
    padding: 0 20px;
  }
}

.works-item {
  width: 100%;
  position: relative;
  padding-top: 71.83908%;
  overflow: hidden;
  margin-bottom: calc(20/768 * 100%);
}

@media only screen and (min-width: 769px) {
  .works-item:nth-of-type(odd) {
    margin: 0 calc(10/768 * 100%) calc(20/768 * 100%) 0;
  }
}

@media only screen and (min-width: 769px) {
  .works-item:nth-of-type(even) {
    margin: 0 0 calc(20/768 * 100%) calc(10/768 * 100%);
  }
}

@media only screen and (min-width: 769px) {
  .works-item {
    margin: 0 calc(10/768 * 100%) calc(20/768 * 100%);
    padding-top: 32.55208%;
    width: 48.69792%;
  }
}

.works-item__thumb {
  width: 100%;
}

.works-item__figure {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  left: 0;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  z-index: 1;
}

.works-item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(244, 177, 194, .9);
  z-index: 2;
  color: #fff;
  padding: 0 19.53125%;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.works-item__desc {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.63;
  padding-top: 0;
}

.works-item__date {
  text-align: right;
  font-size: 13px;
  color: #f2f2f2;
  padding-top: 80px;
  letter-spacing: 5px;
}

.works-item:hover .works-item__info {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.works-more {
  padding-top: 50px;
  text-align: center;
}

.works-more__text {
  color: #d8d8d8;
  font-size: 16px;
}

@media only screen and (min-width: 769px) {
  .works-more__text {
    font-size: 18px;
  }
}

.works--detail .section {
  max-width: 1440px;
  margin: 0 auto;
}

.works--detail .section__title {
  padding-bottom: 56px;
}

.works--detail .section__figure {
  text-align: center;
}

.works--detail .section__figure + .section__figure {
  margin-top: 10px;
}

.works--detail .section__img {
  vertical-align: top;
  width: 100%;
}

.works--detail .section__detail {
  padding: 60px 30px 100px;
}

@media only screen and (min-width: 769px) {
  .works--detail .section__detail {
    padding: 100px 0 100px;
  }
}

.works--detail .section__detail-date {
  text-align: left;
  padding-top: 32px;
  letter-spacing: 5px;
}

.works--detail .section__detail-labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
}

.works--detail .section__detail-footer {
  text-align: left;
  max-width: 426px;
  margin: 0 auto;
}

.works--detail .section__detail-footer .morelink {
  margin-top: 10px;
}

.works--detail .section__detail-footer .morelink:after {
  content: none;
}

.works--detail .section__detail-footer .morelink__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  white-space: nowrap;
  font-size: 13px;
  font-style: normal;
}

.works--detail .section__detail-footer .morelink__text:after {
  content: "";
  display: block;
  width: 100%;
  height: 7px;
  background-image: url(../img/icon_morelink-arrow.svg);
  background-size: contain;
  background-position: center right;
  background-repeat: no-repeat;
  -webkit-animation: morelinkAnimation 2s linear 0s infinite normal;
  animation: morelinkAnimation 2s linear 0s infinite normal;
}

@media only screen and (min-width: 769px) {
  .works--detail .section__detail-footer .morelink__text:after {
    height: 5px;
    background-position: center;
    width: 30px;
    margin-left: 5px;
    margin-bottom: 2px;
  }
}

.works .labels {
  padding-top: 30px;
  padding-bottom: 16px;
}

.works .labels__title {
  color: rgba(0, 0, 0, .6);
}

.works .labels__name {
  padding-left: 1em;
}

main.about {
  padding: 0 10px;
}

@media only screen and (min-width: 769px) {
  main.about {
    padding: 0 20px;
  }
}

.about .article {
  padding-top: 20px;
  position: relative;
}

@media only screen and (min-width: 769px) {
  .about .article {
    padding-top: 30px;
  }
}

.about .section__title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  position: static;
  color: #000;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  margin: 0 auto;
  width: auto;
  padding-top: 60px;
}

@media only screen and (min-width: 769px) {
  .about .section__title {
    font-size: 46px;
  }
}

.about .section__title span {
  font-size: 24px;
}

@media only screen and (min-width: 769px) {
  .about .section__title span {
    font-size: 26px;
  }
}

.about .section__title img {
  width: auto;
}

.about .section__cat {
  display: block;
  font-size: 24px;
  font-weight: 500;
  padding-top: 15px;
}

@media only screen and (min-width: 769px) {
  .about .section__cat {
    font-size: 26px;
  }
}

.about .section__content {
  padding: 55px 0 100px;
  margin: 0 auto;
}

@media only screen and (min-width: 769px) {
  .about .section__content {
    max-width: 375px;
  }
}

.about .section__figure {
  text-align: center;
}

.about .section__img {
  width: 100%;
}

.about .section__detail {
  padding-left: 24px;
  padding-right: 24px;
}

.about .section__detail:last-child {
  padding-bottom: 0;
}